body {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  --theme-green: rgb(116, 255, 74);
}
.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../src/computer.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}
form {
  color: var(--theme-green);
  border: solid 3px black;
  background-color: rgb(47, 47, 47);
  width: 200px;
  height: 125px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-53%, -105%);
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  align-items: center;
}
.username,
.password {
  display: flex;
  align-items: center;
}
form label {
  display: inline-block;
  width: 50%;
}

form input {
  display: inline-block;
  width: 50%;
  margin: 10px;
}

form button {
  border: none;
  border: solid 1px var(--theme-green);
  background-color: transparent;
  color: var(--theme-green);
  margin: 10px;
  padding: 5px 10px;
}

button:active {
  background-color: var(--theme-green);
}
