body {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  --theme-green: rgb(116, 255, 74);
}
.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../src/computer.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}
form {
  color: var(--theme-green);
  border: solid 3px black;
  background-color: rgb(47, 47, 47);
  width: 200px;
  height: 125px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-53%, -105%);
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  align-items: center;
}
.username,
.password {
  display: flex;
  align-items: center;
}
form label {
  display: inline-block;
  width: 50%;
}

form input {
  display: inline-block;
  width: 50%;
  margin: 10px;
}

form button {
  border: solid 1px var(--theme-green);
  background-color: transparent;
  color: var(--theme-green);
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

button:active {
  background-color: var(--theme-green);
}
button,
button::after {
  font-size: 20px;
  background: transparent;
  border: solid 1px var(--theme-green);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "ENTER";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--theme-green);
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}
button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
