::-webkit-scrollbar {
  display: none; /* Chrome Safari */
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  --theme-green: rgb(123, 238, 88);
}

body {
  color: var(--theme-green);
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-size: 14px;
  line-height: 1.5em;
}
.container {
  /* height: 100vh; */
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  #middle {
    transform: scale(0.5);
    margin: -200px 0;
  }
}
.left,
.right {
  padding: 20px;
  flex: 1;
  overflow: hidden;
  max-height: 100vh;
  overflow: scroll;
  box-sizing: border-box;
}
#middle {
  /* border: solid 1px; */
  min-width: 800px;
  box-sizing: border-box;
  border: solid 100px;
  border-bottom: solid 150px;
  border-image: url("../src/computer_border.png") 35%;
  background-color: rgba(0, 0, 0, 0.466);

  /* background-color: black; */
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#avator {
  width: 100px;
  height: 100px;
  margin: 20px;
  background: url("../src/zoomed_version_of_purplegirl.png") no-repeat;
  background-size: 100%;
}
#userName {
  margin: 20px;
  font-weight: 800;
  max-width: 160px;
  word-wrap: break-word;
}
.card {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: solid 1px;
  background-color: rgba(0, 0, 0, 0.76);
}
.achievementList {
}
.achievement {
  border: solid 1px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 12px;
}
/* .achievement_left {
  width: 80px;
  height: 80px;
  border: solid 1px;
  margin-right: 10px;
} */
.achievement_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#top {
  height: 100px;
  position: relative;
}
#info {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255, 0);
}
#hook {
  /* border-radius: 50%; */
  background-color: #fff;

  position: absolute;
  z-index: 10;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  font-size: 12px;
  border: solid 1px;
}

#rotateOrigin {
  width: 50px;
  height: 50px;
  z-index: 10;
  position: relative;
  background: url("../src/zoomed_version_of_purplegirl.png") no-repeat;
  background-size: 100%;
}

#mine {
  /* background-color: rgb(255, 243, 228, 0.5); */
  /* border-radius: 5%; */
  border: solid 1px;
  flex: auto;
  position: relative;
}

.gold {
  background: var(--theme-green);
  border-radius: 5%;
}

.ranking {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.rank_item {
  margin: 5px 0px;
  padding: 15px 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}
.rank_num {
  width: 20px;
}

.rank_name {
  max-width: 160px;
  word-wrap: break-word;
}

.rank_score {
  flex: 1;
  text-align: right;
}

.custom_alert {
  padding: 20px;
  border: solid 1px;
  position: absolute;
  z-index: 100;
  background-color: rgb(32, 48, 27);
  border: solid 3px rgb(97, 148, 82);
  color: white;
  opacity: 0;
  max-width: 500px;
  transition: 0.3s linear;
  pointer-events: none;
}
.alert_content {
  font-size: 12px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
