* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}
.container {
  /* height: 100vh; */
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}
.left,
.right {
  padding: 20px;
  flex: 1;
  overflow: hidden;
}
#middle {
  /* border: solid 1px; */
  border: solid 100px;
  border-image: url("../src/computer_border.png") 35%;
  background-color: black;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#avator {
  width: 100px;
  height: 100px;
  border: solid 1px;
}
#userName {
  font-size: 30px;
  font-weight: 800;
}
.card {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.achievementList {
  border: solid 1px;
}
.achievement {
  border: solid 1px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.achievement_left {
  width: 80px;
  height: 80px;
  border: solid 1px;
  margin-right: 10px;
}
.achievement_right {
  flex: 1;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#top {
  height: 100px;
  position: relative;
}
#info {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255, 0);
}
#hook {
  border-radius: 50%;
  background-color: #f12711;

  position: absolute;
  z-index: 10;
}
.info-item {
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 10px;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

#rotateOrigin {
  width: 50px;
  height: 50px;
  /* transform: translate(-50%, -50%); */
  /* left: 400px;
      top: 50px; */
  z-index: 10;
  position: relative;
  background: url("../src/zoomed_version_of_origin.png");
  background-size: 100%;
}

#mine {
  background-color: rgb(255, 243, 228, 0.5);
  border-radius: 5%;
  flex: auto;
  position: relative;
}

.gold {
  background: #ffbb54;
  border-radius: 20%;
}

.ranking {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.rank_item {
  margin: 10px 0px;
  padding: 20px 0px;
  border: solid 1px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.rank_num {
  width: 50px;
}

.rank_name {
  width: 100px;
}

.rank_score {
  flex: 1;
}
