* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  --theme-green: rgb(116, 255, 74);
  color: var(--theme-green);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  font-size: 14px;
  line-height: 1.5em;
}
.container {
  /* height: 100vh; */
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1440px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  #middle {
    transform: scale(0.5);
    margin: -200px 0;
  }
}
.left,
.right {
  padding: 20px;
  flex: 1;
  overflow: hidden;
}
#middle {
  /* border: solid 1px; */
  min-width: 800px;
  box-sizing: border-box;
  border: solid 100px;
  border-image: url("../src/computer_border.png") 35%;
  background-color: black;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#avator {
  width: 100px;
  height: 100px;
  margin: 20px;
  border: solid 1px;
}
#userName {
  font-size: 30px;
  margin: 20px;
  font-weight: 800;
}
.card {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.achievementList {
  border: solid 1px;
}
.achievement {
  border: solid 1px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.achievement_left {
  width: 80px;
  height: 80px;
  border: solid 1px;
  margin-right: 10px;
}
.achievement_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#top {
  height: 100px;
  position: relative;
}
#info {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255, 0);
}
#hook {
  border-radius: 50%;
  background-color: var(--theme-green);

  position: absolute;
  z-index: 10;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  font-size: 12px;
  border: solid 1px;
}

#rotateOrigin {
  width: 50px;
  height: 50px;
  z-index: 10;
  position: relative;
  background: url("../src/zoomed_version_of_purplegirl.png") no-repeat;
  background-size: 100%;
}

#mine {
  /* background-color: rgb(255, 243, 228, 0.5); */
  /* border-radius: 5%; */
  border: solid 1px;
  flex: auto;
  position: relative;
}

.gold {
  background: var(--theme-green);
  border-radius: 20%;
}

.ranking {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.rank_item {
  margin: 5px 0px;
  padding: 15px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rank_num {
  width: 50px;
}

.rank_name {
  width: 100px;
}

.rank_score {
  flex: 1;
}
